# .replit

# Comando que se ejecuta al presionar el botón "Run"
run = "uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

# Lenguaje y configuración del entorno
language = "python3"
modules = ["python-3.11"]

[deployment]
# Comando para el despliegue (opcional pero bueno tenerlo)
run = ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]

# Paquetes a instalar
[packages]
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
pydantic = "*"

[[ports]]
localPort = 8000
externalPort = 80

[nix]
packages = ["libxcrypt"]
